### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "hw4_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
players = df.SN.nunique()

In [3]:
player_summary_df = pd.DataFrame({ 
    "Total Players": players
},index=[0])
player_summary_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items = df['Item ID'].nunique()
avg_price = df['Price'].mean()
nmbr_purc = df['Purchase ID'].count()
total_rev = df['Price'].sum()

In [5]:
item_summary_df = pd.DataFrame({ 
    "Number of Unique Items": unique_items,
    "Average Price": avg_price,
    "Number of Purchases": nmbr_purc,
    "Total Revenue": total_rev
},index=[0])
item_summary_df['Average Price'] = item_summary_df['Average Price'].map("${:.2f}".format)
item_summary_df['Total Revenue'] = item_summary_df['Total Revenue'].map("${:,.2f}".format)
item_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
grouped_gender = df.groupby(['Gender'])
gender_count = grouped_gender['SN'].nunique()
#gender_count.head()

In [7]:
gender_summary_df = pd.DataFrame({ 
    "Number of Genders": gender_count
})
gender_summary_df = gender_summary_df.sort_values('Number of Genders', ascending=False)
gender_summary_df['Percent of Total'] = 100*gender_summary_df['Number of Genders'] / gender_summary_df['Number of Genders'].sum()
gender_summary_df['Percent of Total'] = gender_summary_df['Percent of Total'].map("{:.2f}%".format)
gender_summary_df

                       Number of Genders Percent of Total
Gender
Male                                 484           84.03%
Female                                81           14.06%
Other / Non-Disclosed                 11            1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
gen_item_count = grouped_gender['Purchase ID'].count()
#gen_item_count.head()

In [9]:
gen_item_price = grouped_gender['Price'].mean().map("${:.2f}".format)
#gen_item_price.head()

In [10]:
gen_total_value = grouped_gender['Price'].sum()
#gen_total_value.head()

In [11]:
avg_purc_per_sn = gen_total_value/gender_count
avg_purc_per_sn = avg_purc_per_sn.map("${:.2f}".format)
#avg_purc_per_sn

In [12]:
gender_buying_summary_df = pd.DataFrame({ 
    "Purchase Count": gen_item_count,
    "Average Purchase Price": gen_item_price,
    "Total Purchase Value": gen_total_value,
    "Average Total Purchases per Person": avg_purc_per_sn
})
gender_buying_summary_df['Total Purchase Value'] = gender_buying_summary_df['Total Purchase Value'].map("${:,.2f}".format)
gender_buying_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchases per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
#max_age = df['Age'].max()
#min_age = df['Age'].min()
#print(max_age)
#print(min_age)
bins = [0, 9, 14, 19, 24, 29, 34, 39, 55]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
df["Age Summary"] = pd.cut(df["Age"], bins, labels=group_names, include_lowest=True)
#df.head()

In [14]:
grouped_age = df.groupby(['Age Summary'])
age_count = grouped_age['SN'].nunique()
#age_count

In [15]:
age_summary_df = pd.DataFrame({ 
    "Number of Users": age_count
})
age_summary_df['Percent of Total'] = 100*age_summary_df['Number of Users'] / age_summary_df['Number of Users'].sum()
age_summary_df['Percent of Total'] = age_summary_df['Percent of Total'].map("{:.2f}%".format)
age_summary_df

             Number of Users Percent of Total
Age Summary
<10                       17            2.95%
10-14                     22            3.82%
15-19                    107           18.58%
20-24                    258           44.79%
25-29                     77           13.37%
30-34                     52            9.03%
35-39                     31            5.38%
40+                       12            2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
age_item_count = grouped_age['Purchase ID'].count()
#age_item_count.head()

In [17]:
age_item_price = grouped_age['Price'].mean().map("${:.2f}".format)
#age_item_price.head()

In [18]:
age_total_value = grouped_age['Price'].sum()
#age_total_value.head()

In [19]:
avg_purc_per_sn_age = age_total_value/age_count
avg_purc_per_sn_age = avg_purc_per_sn_age.map("${:.2f}".format)
#avg_purc_per_sn_age

In [20]:
age_buying_summary_df = pd.DataFrame({ 
    "Purchase Count": age_item_count,
    "Average Purchase Price": age_item_price,
    "Total Purchase Value": age_total_value,
    "Average Total Purchases per Person": avg_purc_per_sn_age
})
age_buying_summary_df['Total Purchase Value'] = age_buying_summary_df['Total Purchase Value'].map("${:,.2f}".format)
age_buying_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchases per Person
Age Summary,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
grouped_sn = df.groupby(['SN'])
sn_item_count = grouped_sn['Purchase ID'].count()
#sn_item_count.head()

In [22]:
sn_spend = grouped_sn['Price'].sum()
#sn_spend.head()

In [23]:
sn_item_price = sn_spend/sn_item_count
sn_item_price = sn_item_price.map("${:.2f}".format)
#sn_item_price.head()

In [24]:
top_spenders_df = pd.DataFrame({ 
    "Purchase Count": sn_item_count,
    "Average Purchase Price": sn_item_price,
    "Total Purchase Value": sn_spend
})
top_spenders_df = top_spenders_df.sort_values('Total Purchase Value', ascending=False)
top_spenders_df["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].map("${:.2f}".format)
top_spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [25]:
grouped_item_id = df.groupby(['Item ID','Item Name'])
purc_count = grouped_item_id['Purchase ID'].count()
#purc_count.head()

In [26]:
avg_price = grouped_item_id['Price'].mean().map("${:.2f}".format)
#avg_price.head()

In [27]:
total_value = grouped_item_id['Price'].sum()
#total_value.head()

In [28]:
top_items_df = pd.DataFrame({ 
    "Total Purchases": purc_count,
    "Average Price": avg_price,
    "Total Value": total_value
})
top_items_df = top_items_df.sort_values('Total Purchases', ascending=False)
top_items_df["Total Value"] = top_items_df["Total Value"].map("${:.2f}".format)
top_items_df.head()

,,Total Purchases,Average Price,Total Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [29]:
top_items_df = pd.DataFrame({ 
    "Total Purchases": purc_count,
    "Average Price": avg_price,
    "Total Value": total_value
})
top_items_df = top_items_df.sort_values('Total Value', ascending=False)
top_items_df["Total Value"] = top_items_df["Total Value"].map("${:.2f}".format)
top_items_df.head()

,,Total Purchases,Average Price,Total Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80